/*Establish same style formatting across all html webpages, regarding: 
font, text alignment, and background color*/
body {
	font-family: Arial, sans-serif, "Times New Roman";
	text-align: center;
	background-color: #B4BBBD;
}

/*Customize the initial appearance of a link, and once it is visited via events*/
a:link, a:visited {
	color: #2149DF;
	text-decoration: underline;
} 

/*Address link appearance when hovered over and active via events*/
a:hover, a:active {
	color: red;
} 

/*Customize header and footer style*/
header, footer {
	background-color: gold;
	padding: 1em;
}

/*Remove style from unordered lists*/
ul {
    list-style: none;
}

/*Remove style from lists of items*/
li {
    list-style: none;
}

/*Custom element styling body of FIXED homepage*/
#container_index {
	width: 1250px;
	background-color: #B4BBBD;
	color: yellow;
}

/*Custom element styling header of FLUID timeline page*/
#header_cod {
	width: 100%;
	background-color: black;
	color: white;
}

/*Custom element styling body of timeline page*/
#container_cod {
	width: 97%;
	background-color: #101010;
    background: url("http://2.bp.blogspot.com/-q2L3VvAVmSQ/Us08w7ld5AI/AAAAAAAAIMI/KaXdT1SB9Ko/s1600/Soldiers+raising+the+Soviet+flag+over+the+Reichstag,+Berlin+1945+2.jpg") no-repeat fixed; 	
	color: white;
	padding: 1em;
}

/*Custom element styling the head of FLUID business page*/
#header_massage {
	width: 100%;
	font-size: 20pt;
	background-color: #0D2981;
	color: #46E639;
}

/*Custom element styling body of business page*/
#container_massage {
	width: 90%;
    background: url("http://cdn.whatclinic.com/massage-therapy/ireland/county-kildare/naas/perfect-line-massage-studio/thumbnails/8d8936d690e5ad79/tr%20097.jpg?hmac=08c79698862e140a1a19ea79b08350a263367e00") no-repeat fixed; 	
    color: #64FF33;
	padding: 1em;
}

/*Custom elements styling both head and body of FLUID resume page */
#header_resume, #container_resume {
	width: 97%;
	background: url("https://s-media-cache-ak0.pinimg.com/originals/db/d7/e7/dbd7e7e2fd26518e2a4aae3c3dbbeaaa.jpg") no-repeat fixed; 	
	color: white;
	padding: 1em;
}